[changelog]
header = "# Changelog\n\n"
body = """
{% for group, commits in commits | group_by(attribute="group") %}
## {{ group }}
{% for commit in commits %}
- {{ commit.message }}
{% endfor %}
{% endfor %}
"""
footer = ""
trim = true

[git]
conventional_commits = true
filter_unconventional = true
split_commits = false

[[git.commit_parsers]]
message = "^feat" 
group = "Features"

[[git.commit_parsers]]
message = "^fix" 
group = "Bug Fixes"

[[git.commit_parsers]]
message = "^docs" 
group = "Documentation"

[[git.commit_parsers]]
message = "^chore" 
group = "Chores"

[[git.commit_parsers]]
message = "^refactor" 
group = "Refactors"
